<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoVocali"
        tools:targetApi="31" >
        <activity
            android:name=".RecordingActivity"
            android:exported="false" />

        <!--noHistory attribute because when you click onto the notification you cannot return to the previous detailActivity if open
            taskAffinity and excludeFromRecents beacuse the activity can start from the notification without opening the mainActivity:
            From documentation
            Because a "special activity" started from a notification doesn't need a back stack, you can create the PendingIntent by calling getActivity(), but you should also be sure you've defined the appropriate task options in the manifest.

                android:taskAffinity=""
            Combined with the FLAG_ACTIVITY_NEW_TASK flag that you'll use in code,
            setting this attribute blank ensures that this activity doesn't go into the app's default task.
            Any existing tasks that have the app's default affinity are not affected.

                android:excludeFromRecents="true"
            Excludes the new task from Recents, so that the user can't accidentally navigate back to it.-->
        <activity android:name=".DetailActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>